[run]
source =
    src/gettsim/__init__.py
    src/gettsim/germany
    src/gettsim/plot/dag/__init__.py
omit =
    */__init__.py
branch = True

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
